@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-gray-700 font-outfit antialiased;
  }

  .dark body {
    background-color: #0a0a0a;
    @apply text-gray-300;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: theme("colors.gray.200");
  }

  .dark *,
  .dark ::after,
  .dark ::before,
  .dark ::backdrop,
  .dark ::file-selector-button {
    border-color: theme("colors.gray.800");
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    border-radius: 9999px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: theme("colors.gray.300");
    border-radius: 9999px;
  }
  .dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: theme("colors.gray.700");
  }
}
